html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cesium {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tweakpane {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

#legend {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

#legend canvas {
  border-radius: 4px;
  overflow: hidden;
}